<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <h1>TODO</h1>

  <form autocomplete="off" action="#" th:action="@{/}" th:object="${todo}" method="post">
    content: <input type="text" th:field="*{content}" />
    <br>
    <button type="submit">Submit</button>
  </form>

  <hr>

  <div th:each="todo, rowStat : ${todoList}">
    <form autocomplete="off" action="#" th:action="@{/{id}/update(id=${todo.getId()})}" th:object="${todo}"
      method="post">
      id: <span th:text="${todo.getId()}"></span>
      content: <input type="text" th:value="${todo.getContent()}" id="content" name="content" />
      isDone: <label th:for="${#ids.next('isDone')}" th:text="${todo.isDone()}">isDone:</label>
      <input type="checkbox" th:id="isDone+${rowStat.count}" name="isDone"
                     th:checked="${todo.isDone()}">
      <button type="submit">Update</button>
      <button type="button" th:attr="onclick=|deleteTodo('${todo.getId()}')|">Delete</button>
    </form>
  </div>

  <script>
      function deleteTodo(id) {
          $.ajax({
              url: '/' + id + '/delete',
              type: 'POST',
              success: function (result) {
                  console.log('success')
                  window.location.replace('/');
              },
              error: function (result) {
                  console.log('error')
                  alert(result);
              }
          })
      }
  </script>
</body>
</html>
